
#wrapper{
height: 100vh;
    width: 100vw;
    /*display: flex;*/
    justify-content: center;
/*flex-direction: column;*/

}
#aboutme{
    margin: 3vh auto;
    width: 90%
;
    padding: 3px;
    text-align: center;

}
#personal-logo{
    animation-duration: 4s;
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-direction: normal;
}
#personal-logo>a>img{
  display: block;
    margin: auto;
    min-width: 200px;
    max-width: 30vw;
    height: auto;
}

.justified{
    text-align: justify;
}
article>img{
    float: left;
    margin: 10px 10px;
    max-width: 300px
}

@keyframes fadein {
    from {
       opacity: 0;
    }

    to {
        opacity: 100%;
    }
}
