#wrapper {
	height: 100vh;
	width: 100vw;
	justify-content: center;
}

.first-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.centered-elements {
	margin: 3vh auto;
	width: 90%;
	padding: 3px;
	text-align: center;
}

#personal-logo {
	animation-duration: 4s;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-direction: normal;
}

#personal-logo>a>img {
	display: block;
	margin: auto;
	min-width: 200px;
	max-width: 30vw;
	height: auto;
}

#top-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#top-menu>a {
	padding: 5px;
}

article>img {
	float: left;
	margin: 10px 10px;
	max-width: 300px;
}

#getToTheTopButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
}

.justified {
	text-align: justify;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 100%;
	}
}